{% extends 'base.html' %}
{% block body %}

  <div class="card-deck">
      {% for i in cake_list %}
    <div class="card">
        <img src="{{i.cake_img.url}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{i.cake_name}}</h5>
            <p class="card-text">{{i.cake_flavour}}.</p>
            <a href="{% url 'cakeapp:details'  i.id %}" class="btn btn-warning">View Details</a>

       </div>
   </div>
      {% endfor %}
 </div>

{% endblock %}
